<div class="panel panel-default">
    <div class="panel-body">
        <div [formGroup]="experienceForm">
            <div class="form-group">
                <label for="position">position</label>
                <input type="text" class="form-control" formControlName="position" id="position">
                <validation-error [control]="experienceForm.get('position')"></validation-error>
            </div>
            <div class="form-group">
                <label for="startDate">startDate</label>
                <input type="text" class="form-control" formControlName="startDate" id="startDate">
                <validation-error [control]="experienceForm.get('startDate')"></validation-error>
            </div>
            <div class="form-group">
                <label for="endDate">endDate</label>
                <input type="text" class="form-control" formControlName="endDate" id="endDate">
                <validation-error [control]="experienceForm.get('endDate')"></validation-error>
            </div>
            <div class="form-group">
                <label for="company">company</label>
                <input type="text" class="form-control" formControlName="company" id="company">
                <validation-error [control]="experienceForm.get('company')"></validation-error>
            </div>
            <div class="form-group">
                <label for="details">details</label>
                <textarea formControlName="details" class="form-control" rows="5" id="details"></textarea>
                <validation-error [control]="experienceForm.get('details')"></validation-error>
            </div>
            <div class="form-group">
                <label for="website">website</label>
                <input type="text" class="form-control" formControlName="website" id="website">
                <validation-error [control]="experienceForm.get('website')"></validation-error>
            </div>
            <div class="form-group">
                <label for="responsibilities">responsibilities</label>
                <input type="text" class="form-control" formControlName="responsibilities" id="responsibilities">
                <validation-error [control]="experienceForm.get('responsibilities')"></validation-error>
            </div>

            <div formArrayName="tools">
                <div *ngFor="let tool of experienceForm.controls.tools.controls; let i=index" class="panel panel-default">
                    <div class="panel-heading">
                        <span>Tool {{i + 1}}</span>
                        <span class="glyphicon glyphicon-remove pull-right" *ngIf="experienceForm.controls.tools.controls.length > 1" (click)="removeTool(i)"></span>
                    </div>
                    <div class="panel-body" [formGroupName]="i">
                        <cv-tool
                            [group]="experienceForm.controls.tools.controls[i]"
                        ></cv-tool>
                    </div>
                </div>
            </div>
            <div class="margin-20">
                <a (click)="addTool()" style="cursor: default">
                    Add another tool +
                </a>
            </div>
        </div>
    </div>
</div>
