@import '../../../styles/_variables';

:host /deep/ {
  display: block;
  min-height: 100vh;
  padding-bottom: 60px;
  position: relative;
  background-color: $smoky-white;
  min-width: 350px;
}

.wrapper {
  margin: 0 100px;
}

header {
  background-color: $theme-color;
  color: #fff;
  height: 60px;
  font-size: 12px;

  .logo {
    font-size: 24px;
    font-weight: 700;
    padding: 12px 0px;
    text-transform: uppercase;
  }

  .user-container {
    position: relative;

    .user {
      display: inline-block;
      padding: 10px;
      vertical-align: middle;
      line-height: 16px;

      .user-name {
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        max-width: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-right: 24px;
      }
      .user-position {
        font-size: 11px;
        line-height: 16px;
        opacity: 0.8;
      }
    }

    .log-out {
      color: white;

      .glyphicon-log-out {
        position: absolute;
        top: 50%;
        margin-top: 20px;
        right: 0px;
        font-size: 20px;
      }
    }
  }
}

footer {
  background-color: $theme-color;
  bottom: 0;
  height: 60px;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 0;

  .copyright {
    color: white;
    font-size: 12px;
    padding-top: 24px;
  }
}

/* responsive design */
/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
  .wrapper {
    margin: 0 10px;
  }
}
