<!--<div
    [formGroup]="parentForm"
>-->


    <!--<span
        class="glyphicon glyphicon-remove pull-right form-group"
        *ngIf="parentForm.controls.socialProfiles1.controls.length > 1"
        (click)="removeSocialProfiles(i)"
    ></span>-->


    <!--<div class="form-group">
        <input
            formControlName="toolss"
            type="text"
            class="form-control custom-control large"
            pTooltip="Enter url"
            tooltipPosition="top"
        />
    </div>-->


    <!--<div class="form-group">
        <select
            class="form-control custom-control large"
            formControlName="network"
            pTooltip="Select type network"
            tooltipPosition="top"
        >
            <option *ngFor="let networkType of networkTypes" [value]="networkType">{{networkType}}</option>
        </select>
    </div>
    <cv-do1
        [parentForm]="parentForm"
        [tools]="tools"
    ></cv-do1>-->
        <!--[parentForm]="parentForm.controls.socialProfiles1"-->
    <!--<cv-tool-array [parentForm]="parentForm.controls.socialProfiles1" [tools]="tools"></cv-tool-array>-->


<!--</div>-->
do1
