// !duplicate code
a {
// @include transition(all 0.4s ease-in-out);
// color: darken($theme-color, 15%);
  color: white;
  &:hover {
    // color: darken($theme-color, 30%);
    text-decoration: underline;
  }
  &:focus {
    text-decoration: none;
  }
}
.interests-list {
  margin-bottom: 0;
  li {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.list-unstyled {
  .fa {
    display: inline-block;
    padding: 3px;
  }
}
