<div class="panel panel-default">
    <div class="panel-heading">
        <span>Experience {{index + 1}}</span>
        <span
            class="glyphicon glyphicon-remove pull-right"
            *ngIf="formArray.length > 1"
            (click)="removed.emit()"
        ></span>
    </div>
    <div class="panel-body">
        <div [formGroup]="experienceGroup">
            <div class="form-group">
                <label for="position">Position</label>
                <input formControlName="position" type="text" class="form-control" id="position">
            </div>
            <div class="form-group">
                <label for="startDate">Data</label>
                <input formControlName="startDate" type="text" class="form-control" id="startDate">
            </div>
            <div class="form-group">
                <label for="endDate">Data</label>
                <input formControlName="endDate" type="text" class="form-control" id="endDate">
            </div>
            <div class="form-group">
                <label for="company">Company</label>
                <input formControlName="company" type="text" class="form-control" id="company">
            </div>
            <div class="form-group">
                <label for="details">Details</label>
                <textarea formControlName="details" class="form-control" rows="5" id="details"></textarea>
            </div>
            <div class="form-group">
                <label for="website">Website</label>
                <input formControlName="website" class="form-control" rows="5" id="website"/>
            </div>
            <div class="form-group">
                <label for="responsibilities">Responsibilities</label>
                <input formControlName="responsibilities" class="form-control" rows="5" id="responsibilities"/>
            </div>
            <!--<cv-tool-array [parentForm]="experienceGroup" [tools]="experience?.tools"></cv-tool-array>-->
        </div>
    </div>
</div>