/* ======= Base ======= */
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: $smoky-white;
  color: $text-color-secondary;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  padding: 30px;
}

h1, h2, h3, h4, h5, h6  {
  font-weight: 700;
  display: inline-block;
}

a {
  @include transition(all 0.4s ease-in-out);
  color: darken($theme-color, 15%);
  &:hover {
    color: darken($theme-color, 30%);
    text-decoration: underline;
  }
  &:focus {
    text-decoration: none;
  }
}

p {
  line-height: 1.5;
}
