<div class="wrapper-form">
  <form [formGroup]="form" class="form" >
    <div class="sidebar-wrapper {{resumeDetail.state === StatesEnum.Create ? 'create' : resumeDetail.state === StatesEnum.Edit ? 'edit' : ''}}">
      <div class="profile-container" *ngIf="resumeDetail.state !== StatesEnum.Create">
        <div class="profile" [class.edit]="resumeDetail.state === StatesEnum.Edit">
          <img src="../../../../../assets/images/profile.jpg" alt="" />
        </div>
        <input *ngIf="EditSelfState.photo" type="file" class="form-control custom-control"/>
        <cv-edit-button
          *ngIf="resumeDetail.state === StatesEnum.Edit"
          class="large img"
          [disabled]="form.controls.photo.invalid"
          [state]="EditSelfState.photo"
          (stateUpdated)="stateUpdated($event, 'photo')"
        ></cv-edit-button>
        <div class="form-group">
          <h1
            class="name text-truncate"
            *ngIf="!EditSelfState.name"
          >{{form.value.name}}</h1>
          <input
            *ngIf="EditSelfState.name"
            type="text"
            formControlName="name"
            class="form-control custom-control large"
            pTooltip="Enter name"
            tooltipPosition="top"
          />
          <cv-edit-button
            *ngIf="resumeDetail.state === StatesEnum.Edit"
            class="large marginBottom"
            [disabled]="form.controls.name.invalid"
            [state]="EditSelfState.name"
            (stateUpdated)="stateUpdated($event, 'name')"
          ></cv-edit-button>
          <validation-error [control]="form.get('name')"></validation-error>
        </div>
        <div class="form-group">
          <h3
            class="tagline text-truncate"
            *ngIf="!EditSelfState.position"
          >{{form.value.position}}</h3>
          <input
            *ngIf="EditSelfState.position"
            type="text"
            formControlName="position"
            class="form-control custom-control medium"
            pTooltip="Enter position"
            tooltipPosition="top"
          />
          <cv-edit-button
            *ngIf="resumeDetail.state === StatesEnum.Edit"
            class="medium"
            [disabled]="form.controls.position.invalid"
            [state]="EditSelfState.position"
            (stateUpdated)="stateUpdated($event, 'position')"
          ></cv-edit-button>
          <validation-error [control]="form.get('position')"></validation-error>
        </div>
      </div>
    <!--//profile-container-->

    <perfect-scrollbar>
      <div *ngIf="resumeDetail.state === StatesEnum.Create" class="edit-main-container">
        <div class="form-group">
          <label>Name</label>
          <input
            type="text"
            formControlName="name"
            class="form-control"
            pTooltip="Enter name"
            tooltipPosition="top"
        />
        <validation-error [control]="form.get('name')"></validation-error>
        </div>
        <div class="form-group">
          <label>Position</label>
          <input
            type="text"
            formControlName="position"
            class="form-control"
            pTooltip="Enter position"
            tooltipPosition="top"
          >
          <validation-error [control]="form.get('position')"></validation-error>
        </div>
        <div class="form-group">
          <label>Email</label>
          <input
            formControlName="email"
            type="text"
            class="form-control"
            pTooltip="Enter email"
            tooltipPosition="top"
          />
          <validation-error [control]="form.get('email')"></validation-error>
        </div>
        <div class="form-group">
          <label>Skype</label>
          <input
            formControlName="skype"
            type="text"
            class="form-control"
            pTooltip="Enter skype"
            tooltipPosition="top"
          />
          <validation-error [control]="form.get('skype')"></validation-error>
        </div>
        <div class="form-group">
          <label>Photo</label>
          <input
            type="file"
            class="form-control"
            formControlName="photo"
          />
          <validation-error [control]="form.get('photo')"></validation-error>
        </div>
      </div>
      <div class="contact-container container-block" *ngIf="resumeDetail.state !== StatesEnum.Create">
        <ul class="list-unstyled contact-list">
          <li class="email">
            <a
              *ngIf="!EditSelfState.email"
              href="{{form.value.email}}"
              class="text-truncate"
            >
              <i class="fa fa-envelope-o"></i>
              {{form.value.email}}
            </a>
            <input
              *ngIf="EditSelfState.email"
              formControlName="email"
              type="text"
              class="form-control custom-control small"
              pTooltip="Enter email"
              tooltipPosition="top"
            />
            <cv-edit-button
              *ngIf="resumeDetail.state === StatesEnum.Edit"
              [disabled]="form.controls.email.invalid"
              [state]="EditSelfState.email"
              (stateUpdated)="stateUpdated($event, 'email')"
            ></cv-edit-button>
            <validation-error [control]="form.get('email')"></validation-error>
          </li>
          <li class="skype">
            <a
              *ngIf="!EditSelfState.skype"
              href="{{form.value.skype}}"
              class="text-truncate"
            >
              <i class="fa fa-skype" aria-hidden="true"></i>
              {{form.value.skype}}
            </a>
            <input
              *ngIf="EditSelfState.skype"
              formControlName="skype"
              type="text"
              class="form-control custom-control small"
              pTooltip="Enter skype"
              tooltipPosition="top"
            />
            <cv-edit-button
              *ngIf="resumeDetail.state === StatesEnum.Edit"
              [disabled]="form.controls.skype.invalid"
              [state]="EditSelfState.skype"
              (stateUpdated)="stateUpdated($event, 'skype')"
            ></cv-edit-button>
            <validation-error [control]="form.get('skype')"></validation-error>
          </li>
        </ul>
      </div>
      <!--//contact-container-->
      <div #sidebarWrapperToPdf>
        <div class="social-profiles-container container-block">
          <h2 class="container-block-title">Social Profiles</h2>
            <cv-edit-button
              *ngIf="resumeDetail.state === StatesEnum.Edit"
              class="medium"
              [disabled]="form.controls.socialProfiles.invalid"
              [state]="EditSelfState.socialProfiles"
              (stateUpdated)="stateUpdated($event, 'socialProfiles')"
            ></cv-edit-button>
            <cv-social-profile-array
              [parentForm]="form"
              [socialProfiles]="resumeDetail.result?.social_profiles"
              [networkTypes]="networkTypes"
              [socialProfilesEditSelfState]="EditSelfState.socialProfiles"
              [state]="resumeDetail.state"
            ></cv-social-profile-array>
        </div>
        <!-- social sprofiles container -->

        <div class="phones-container container-block">
          <h2 class="container-block-title">Phones</h2>
          <cv-edit-button
            *ngIf="resumeDetail.state === StatesEnum.Edit"
            class="medium"
            [disabled]="form.controls.phoneNumber.invalid"
            [state]="EditSelfState.phones"
            (stateUpdated)="stateUpdated($event, 'phones')"
          ></cv-edit-button>
          <cv-phone-array
            [parentForm]="form"
            [phoneNumbers]="resumeDetail.result?.phoneNumbers"
            [phoneTypes]="phoneTypes"
            [phonesEditSelfState]="EditSelfState.phones"
            [state]="resumeDetail.state"
          ></cv-phone-array>
        </div>
        <!-- phones container -->

        <div class="education-container container-block">
          <h2 class="container-block-title">Education</h2>
          <cv-edit-button
            *ngIf="resumeDetail.state === StatesEnum.Edit"
            class="medium"
            [disabled]="form.controls.education.invalid"
            [state]="EditSelfState.education"
            (stateUpdated)="stateUpdated($event, 'education')"
          ></cv-edit-button>
          <cv-education-array
            [parentForm]="form"
            [education]="resumeDetail.result?.education"
            [educationEditSelfState]="EditSelfState.education"
            [state]="resumeDetail.state"
          ></cv-education-array>
        </div>
        <!--//education-container-->

        <div class="languages-container container-block">
          <h2 class="container-block-title">Languages</h2>
          <cv-edit-button
            *ngIf="resumeDetail.state === StatesEnum.Edit"
            class="medium"
            [disabled]="form.controls.languages.invalid"
            [state]="EditSelfState.language"
            (stateUpdated)="stateUpdated($event, 'language')"
          ></cv-edit-button>
          <cv-language-array
            [parentForm]="form"
            [languages]="resumeDetail.result?.languages"
            [languageEditSelfState]="EditSelfState.language"
            [state]="resumeDetail.state"
          ></cv-language-array>
        </div>
        <!--//interests-->

        <div class="interests-container container-block">
          <h2 class="container-block-title">Interests</h2>
          <cv-edit-button
            *ngIf="resumeDetail.state === StatesEnum.Edit"
            class="medium"
            [disabled]="form.controls.interests.invalid"
            [state]="EditSelfState.interest"
            (stateUpdated)="stateUpdated($event, 'interest')"
          ></cv-edit-button>
          <cv-interest-array
            [parentForm]="form"
            [interests]="resumeDetail.result?.interests"
            [interestEditSelfState]="EditSelfState.interest"
            [state]="resumeDetail.state"
          ></cv-interest-array>
        </div>
        <!--//interests-->
        <pre>{{ form.value | json }}</pre>
      </div>
    </perfect-scrollbar>

    </div><!--//sidebar-wrapper-->

    <div #mainWrapperToPdf class="main-wrapper">
      <perfect-scrollbar>
        <div class="section-wrapper">
          <section class="section summary-section">
            <h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
              <cv-edit-button
                *ngIf="resumeDetail.state === StatesEnum.Edit"
                class="large colorGreen"
                [disabled]="form.controls.profile.invalid"
                [state]="EditSelfState.profile"
                (stateUpdated)="stateUpdated($event, 'profile')"
              ></cv-edit-button>
              <div class="summary">
                <p *ngIf="!EditSelfState.profile && resumeDetail.state !== StatesEnum.Create">{{form.value.profile}}</p>
                <textarea
                  formControlName="profile"
                  *ngIf="EditSelfState.profile || resumeDetail.state === StatesEnum.Create"
                  class="form-control custom-textarea-control"
                  rows="5"
                  id="comment"
                ></textarea>
                <validation-error [control]="form.get('profile')"></validation-error>
              </div>
            <!--//summary-->
          </section>
          <!--//section-->

          <section class="section experiences-section">
            <h2 class="section-title"><i class="fa fa-briefcase"></i>Experience</h2>
            <cv-edit-button
              *ngIf="resumeDetail.state === StatesEnum.Edit"
              class="large colorGreen"
              [disabled]="form.controls.experience.invalid"
              [state]="EditSelfState.experience"
              (stateUpdated)="stateUpdated($event, 'experience')"
            ></cv-edit-button>
            <div *ngIf="!EditSelfState.experience && resumeDetail.state !== StatesEnum.Create">
              <div class="item" *ngFor="let experience of form.value.experience; let i=index">
                <div class="meta">
                  <div class="upper-row">
                    <h3 class="job-title">{{experience.position}}</h3>
                    <div class="time">{{experience.startDate}} - {{experience.endDate}}</div>
                  </div>
                  <div class="company">{{experience.location}}</div>
                </div>
                <div class="details"><p>{{experience.details}}</p></div>
                <div>Website - {{experience.website || 'None'}}</div>
                <span>Tools:</span>
                <span *ngFor="let tool of (form.value.experience[i].tools || resumeDetail.result.work_experience[i].tools); let i = index">
                  {{tool.name || 'None'}},
                </span>
                <div>Responsibilities - {{experience.responsibilities || 'None'}}</div>
              </div>
            </div>
            <div formArrayName="experience" *ngIf="EditSelfState.experience || resumeDetail.state === StatesEnum.Create">
              <div *ngFor="let experience of form.controls.experience.controls; let i=index" class="panel panel-default">
                <div class="panel-heading">
                  <span>Experience {{i + 1}}</span>
                  <span class="glyphicon glyphicon-remove pull-right" *ngIf="form.controls.experience.controls.length > 1" (click)="removeExperience(i)"></span>
                </div>
                <div class="panel-body" [formGroupName]="i">
                  <cv-experience
                    [group]="form.controls.experience.controls[i]"
                    [tools]="resumeDetail.result?.work_experience[i]?.tools"
                  ></cv-experience>
                </div>
              </div>
              <div class="margin-20">
                <a (click)="addExperience()" style="cursor: default">Add another experience + </a>
              </div>
            </div>
          </section>
          <!--experiences-section-->

          <section class="section projects-section">
            <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
            <cv-edit-button
              *ngIf="resumeDetail.state === StatesEnum.Edit"
              class="large colorGreen"
              [disabled]="form.controls.projects.invalid"
              [state]="EditSelfState.projects"
              (stateUpdated)="stateUpdated($event, 'projects')"
            ></cv-edit-button>
            <div *ngIf="!EditSelfState.projects && resumeDetail.state !== StatesEnum.Create">
              <div class="item" *ngFor="let project of form.value.projects; let i=index">
                <div class="meta">
                  <div class="upper-row">
                    <h3 class="job-title">{{project.title}}</h3>
                    <h6 class="job-title">{{project.position}}</h6>
                    <div class="time">{{project.startDate}} - {{project.endDate}}</div>
                  </div>
                </div>
                <div class="details"><p>{{project.descriptions}}</p></div>
                <div>Website - {{project.website || 'None'}}</div>
                <span>Tools:</span>
                <span *ngFor="let tool of (form.value.projects[i].tools || resumeDetail.result.pet_projects[i].tools); let i = index">
                {{tool.name || 'None'}},
                </span>
                <div>Type - {{project.type || 'None'}}</div>
              </div>
            </div>
            <div formArrayName="projects" *ngIf="EditSelfState.projects || resumeDetail.state === StatesEnum.Create">
              <div *ngFor="let project of form.controls.projects.controls; let i=index" class="panel panel-default">
                <div class="panel-heading">
                  <span>Project {{i + 1}}</span>
                  <span class="glyphicon glyphicon-remove pull-right" *ngIf="form.controls.projects.controls.length > 1" (click)="removeProject(i)"></span>
                </div>
                <div class="panel-body" [formGroupName]="i">
                  <cv-project
                    [group]="form.controls.projects.controls[i]"
                    [tools]="resumeDetail.result?.pet_projects[i]?.tools"
                  ></cv-project>
                </div>
              </div>
              <div class="margin-20">
                <a (click)="addProject()" style="cursor: default">Add another project + </a>
              </div>
            </div>
          </section>
          <!--projects-section-->

          <section class="skills-section section">
            <h2 class="section-title"><i class="fa fa-rocket"></i>Skills &amp; Proficiency</h2>
            <cv-edit-button
              *ngIf="resumeDetail.state === StatesEnum.Edit"
              class="large colorGreen"
              [disabled]="form.controls.skills.invalid"
              [state]="EditSelfState.skills"
              (stateUpdated)="stateUpdated($event, 'skills')"
            ></cv-edit-button>
            <div *ngIf="!EditSelfState.skills && resumeDetail.state !== StatesEnum.Create">
              <div class="item" *ngFor="let skill of form.value.skills; let i = index">
                <span class="project-title"><a href="">{{skill.name}}</a></span> -
                <span
                  class="project-tagline"
                  *ngFor="let tool of (form.value.skills[i].tools || resumeDetail.result.skills[i].tools); let i = index"
                  >
                  {{tool.name}},
                </span>
              </div>
            </div>
            <div formArrayName="skills" *ngIf="EditSelfState.skills || resumeDetail.state === StatesEnum.Create">
              <div *ngFor="let skill of form.controls.skills.controls; let i=index" class="panel panel-default">
                <div class="panel-heading">
                  <span>Skills {{i + 1}}</span>
                  <span class="glyphicon glyphicon-remove pull-right" *ngIf="form.controls.skills.controls.length > 1" (click)="removeSkill(i)"></span>
                </div>
                <div class="panel-body" [formGroupName]="i">
                  <cv-skill
                    [group]="form.controls.skills.controls[i]"
                    [tools]="resumeDetail.result?.skills[i]?.tools"
                  ></cv-skill>
                </div>
              </div>
              <div class="margin-20">
                <a (click)="addSkill()" style="cursor: default">Add another skill + </a>
              </div>
            </div>
          </section>
          <!--skills-section-->
        </div>
      </perfect-scrollbar>
      <cv-message-inline [message]="error" type="danger"></cv-message-inline>
      <div class="form-group wrapper-button">
        <button
          type="button"
          class="btn"
          (click)="edit()"
          *ngIf="resumeDetail.state === StatesEnum.View"
        >Edit</button>
        <button
          type="button"
          class="btn"
          (click)="save()"
          *ngIf="resumeDetail.state !== StatesEnum.View"
          [disabled]="form.invalid"
        >Save</button>
        <button
          type="button"
          class="btn"
          (click)="delete()"
          *ngIf="resumeDetail.state === StatesEnum.View"
        >Delete</button>
        <button
          type="button"
          class="btn"
          (click)="downloadPDF()"
          *ngIf="resumeDetail.state === StatesEnum.View"
        >Download </button>
      </div>
    </div>
    <!--//main-body-->
  </form>
</div>
