.wrap {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.title {
  font-size: 60px;
  margin-bottom: 30px;
  text-align: center;
}
.code {
  font-size: 70px;
  text-align: center;
}
