<div *ngIf="!educationEditSelfState" class="form-group">
    <div *ngFor="let education of education; let i=index" class="item">
        <h4 class="degree">{{education.level_qualifications}}</h4>
        <h5 class="meta">{{education.school}} ({{education.area}})</h5>
        <div class="time">{{education.startDate}} - {{education.endDate}}</div>
    </div>
</div>
<div *ngIf="educationEditSelfState">
    <div *ngFor="let education of parentForm.controls.education.controls; let i=index">
        <span
            class="glyphicon glyphicon-remove pull-right form-group"
            *ngIf="parentForm.controls.education.controls.length > 1"
            (click)="removeEducation(i)"
        ></span>
        <div [formGroup]="parentForm.controls.education.controls[i]" class="form-group">
            <div class="form-group">
                <input
                    type="text"
                    class="form-control"
                    formControlName="level_qualifications"
                    pTooltip="Enter level_qualifications"
                    tooltipPosition="top"
                />
            </div>
            <div class="form-group">
                <input
                    type="text"
                    class="form-control"
                    formControlName="school"
                    pTooltip="Enter school"
                    tooltipPosition="top"
                />
            </div>
            <div class="form-group">
                <input
                    type="text"
                    class="form-control"
                    formControlName="startDate"
                    pTooltip="Enter startDate"
                    tooltipPosition="top"
                />
            </div>
            <div class="form-group">
                <input
                    type="text"
                    class="form-control"
                    formControlName="endDate"
                    pTooltip="Enter endDate"
                    tooltipPosition="top"
                />
            </div>
            <div class="form-group">
                <input
                    type="text"
                    class="form-control"
                    formControlName="area"
                    pTooltip="Enter area"
                    tooltipPosition="top"
                />
            </div>
        </div>
    </div>
    <button (click)="addEducation()" class="btn btn-default">Add another education + </button>
</div>
