.degree {
    font-size: 14px;
    margin-bottom: 5px;
    margin-top: 0;
}

.meta {
    color: rgba(256, 256, 256, 0.6);
    font-weight: 500;
    margin-bottom: 0px;
    margin-top: 0;
}
.time {
    color: rgba(256, 256, 256, 0.6);
    font-weight: 500;
    margin-bottom: 0px;
}
.item {
    margin-bottom: 15px;
}
.green{
    color: green;
}