<ul *ngIf="!socialProfilesEditSelfState" class="list-unstyled interests-list">
    <li *ngFor="let socialProfile of parentForm.value.socialProfiles1; let i=index">
        <i class="fa fa-{{socialProfile.network}}"></i>
        <a href="tel:{{socialProfile.url}}">{{socialProfile.url}}</a>
    </li>
</ul>
<div *ngIf="socialProfilesEditSelfState">
    <div
        *ngFor="let socialProfile of parentForm.controls.socialProfiles1.controls; let i=index"
        [formGroup]="parentForm.controls.socialProfiles1.controls[i]"
    >
        <span
            class="glyphicon glyphicon-remove pull-right form-group"
            *ngIf="parentForm.controls.socialProfiles1.controls.length > 1"
            (click)="removeSocialProfiles(i)"
        ></span>
        <div class="form-group">
            <input
                formControlName="url"
                type="text"
                class="form-control custom-control large"
                pTooltip="Enter url"
                tooltipPosition="top"
            />
        </div>
        <div class="form-group">
            <select
                class="form-control custom-control large"
                formControlName="network"
                pTooltip="Select type network"
                tooltipPosition="top"
            >
                <option *ngFor="let networkType of networkTypes" [value]="networkType">{{networkType}}</option>
            </select>
        </div>
        <cv-do1
            [parentForm]="parentForm.controls.socialProfiles1"
            [tools1]="tools1"
        ></cv-do1>
         <!--*ngFor="let socialProfiles1 of parentForm.value.socialProfiles1; let i = index"
            [parentForm]="socialProfiles1"-->
            <!--[parentForm]="parentForm.controls.socialProfiles1"-->
        <!--<cv-tool-array [parentForm]="parentForm.controls.socialProfiles1" [tools]="tools"></cv-tool-array>-->
    </div>
    <button (click)="addSocialProfiles()" class="btn btn-default">Add another phone + </button>
</div>
<pre>{{ parentForm.value.socialProfiles1 | json }}</pre>
